.negotiations {

  .expert, .offer {
    margin: 15px 0px;
    padding: 15px 0;
  }

  .expert {
    border: 1.5px solid #DBD9DB;
  }

  .ask-for-expert {
    font-size: 16px;
    font-weight: bold;
  }

  .offer {

    .heading {
      font-size: 25px;
      font-weight: bold;
    }

  }
}
