.the-property {

  .asking-price {
    list-style: none;
  }

  .address, .price {
    font-weight: bold;
  }
  
  .address {
    font-size: 18px;
  }

  .price {
    font-size: 25px;
  }

  .asking-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}
